//npm.pkg.github.com/:_authToken=${ALTO_GITHUB_TOKEN}
@zoopla-eng:registry=https://npm.pkg.github.com/
link-workspace-packages = deep
prefer-workspace-packages = true
shell-emulator = true
ignore-workspace-root-check = true
workspace-concurrency = 1
save-exact = true
save-workspace-protocol = false
